.cc-layout {
    --title-color: var(--coral);

    position: relative;
    display: flex; 
    min-height: 100vh;

    .cc-layout--card {
        color: var(--majorelle);
    }

    .cc-layout--inner {
        width: 75vw;
        min-width: 720px;
        position: relative;
        margin: 90px auto;
    }
    
    .cc-layout--main {
        background-color: white;
        border: solid thin var(--mintfoam);
        z-index: var(--z-content);
        padding: 75px;
    }

    &.cc-layout-content_page .cc-layout--main {
        padding-left: 100px;
    }

    .cc-layout--nav {
        position: absolute;
        z-index: 200;
    }

    .cc-layout--title {
        color: var(--title-color);
        margin-top: 0;
        margin-bottom: 20px;
    }

    .cc-layout--main .cc-text-body-10 {
        margin-bottom: 10px;
    }
    
    .cc-layout--title_home_link {
        $padding: 8px;
        $margin-right: 5px;
        $dimension: var(--fs-header-30);

        font-size: 0;
        display: inline-block;
        width: $dimension;
        height: $dimension;
        padding: $padding;
        margin-right: $margin-right;
        margin-left: calc( calc(#{$dimension} + #{$padding/2 + $margin-right}) * -1 );
        border-radius: 100px;
        vertical-align: bottom;

        svg {
            display: block;
        }

        path {
            stroke: var(--title-color);
        }

        &:hover {
            background-color: var(--title-color);
            border: none;

            path {
                stroke: white;
            }
        }
    }
}