.cc-layout {
    --title-color: var(--coral);

    position: relative;
    display: flex; 
    min-height: 100vh;

    .cc-layout--card {
        color: var(--majorelle);
    }

    .cc-layout--inner {
        width: 75vw;
        min-width: 720px;
        position: relative;
        margin: 90px auto;
    }
    
    .cc-layout--main {
        background-color: white;
        border: solid thin var(--mintfoam);
        z-index: var(--z-content);
        padding: 75px;
    }

    .cc-layout--nav {
        position: absolute;
        z-index: 200;
    }

    .cc-layout--title {
        color: var(--title-color);
    }

    .cc-layout--main .cc-text-body-10 {
        margin-bottom: 10px;
    }
    
    .cc-layout--title_home_link {
        display: inline-block;
        width: var(--fs-header-20);
        height: var(--fs-header-20);
        padding: 7px;
        margin-right: 5px;
        border-radius: 100px;
        vertical-align: bottom;

        svg {
            display: block;
        }

        path {
            stroke: var(--title-color);
        }

        &:hover {
            background-color: var(--title-color);

            path {
                stroke: white;
            }
        }
    }
}