h1, h2, h3, p, img, .cc-grid-text_col {
    max-width: 550px;
    width: 100%;
}

strong {
    color: var(--color-header-10);
}

.cc-text-header-30 {
    font-size: var(--fs-header-30);
    font-weight: var(--fw-600);
    color: var(--color-header-30);
    margin-top: 25px;
    margin-bottom: 5px;
}

.cc-text-header-20 {
    font-size: var(--fs-header-20);
    font-weight: var(--fw-600);
    color: var(--color-header-20);
    margin-top: 45px;
    margin-bottom: 5px;
}

.cc-text-header-10 {
    font-size: var(--fs-header-10);
    font-weight: var(--fw-600);
    color: var(--color-header-10);
    margin-top: 25px;
    margin-bottom: 5px;
}

.cc-text-header-5 {
    font-size: var(--fs-header-5);
    font-weight: var(--fw-600);
    color: var(--color-header-10);
    margin-top: 20px;
    margin-bottom: 5px;
}

.cc-text-header-1 {
    font-size: var(--fs-header-1);
    font-weight: var(--fw-600);
    color: var(--color-header-10);
    margin-top: 10px;
    margin-bottom: 5px;
}

.cc-text-body-20 {
    font-size: var(--fs-body-20);
    font-weight: var(--fw-200);
}

.cc-text-body-10 {
    font-size: var(--fs-body-10);
    font-weight: var(--fw-200);
}

.cc-text-body-5 {
    font-size: var(--fs-body-5);
    font-weight: var(--fw-200);
}

.cc-text-color-white {
  color: white;
}
