.cc-copy_tooltip {
    cursor: pointer;
    
    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        transform: scale(1.3);
        width: 90%;
        height: 150%;
        cursor: pointer;
    }

    .cc-copy_tooltip--tooltip {
        display: none;
        visibility: collapse;
        position: absolute;
        transform: translateY(calc(-100% - 5px)) translateX(-50%);
        background-color: white;
        box-shadow: 1px 5px 13px 0px rgba(9, 125, 193, .2);
        padding: 8px 17px;
        left: 50%;
        top: -3px;
        width: fit-content;
        
        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            background: white;
            z-index: -1;
        }
    }

    .cc-copy_tooltip--tooltip_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        top: -3px;
        vertical-align: middle;
        margin-right: 8px;

        svg {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &.cc-copy_tooltip-is_shown, &:hover {
        .cc-copy_tooltip--tooltip {
            display: inline-block;
            visibility: visible;
        }
    }
}