@import "./normalize";
@import "./util/scale";
@import "./util/sample";
@import "./util/convert";
@import "./util/remove";

:root {
    --bazooka: #F4C4C6;
    --mintfoam: #81CA9C;
    --majorelle: #007AC0;
    --coral: #F37444;
    --heinz: #F15F68;
    --sol_lewit: #A4DDEB;
    --sol_lewet: #8CC7ED;
    --neon: #FFF200;
    --slate: #737e94;
    --raincloud: #858fa2;

    --fs-header-20: #{type-scale(10)};
    --fs-body-20: #{type-scale(6)};
    --fs-body-10: #{type-scale(4)};

    --fw-200: 200;
    --fw-500: 500;
    --fw-600: 600;

    --z-content: 10;
    --z-above_content: calc(var(--z-content) + 1);
    --z-covid_banner: calc(var(--z-above_content) + 10);
    --z-tiles: calc(var(--z-above_content) + 1);
}

body {
    font-size: $base_font_size;
    color: var(--slate);
}

body {
    font-family: 'Arquitecta', sans-serif;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    
    * {
        font-family: 'Arquitecta', sans-serif;
        position: relative;
        box-sizing: border-box;
    }
}

@import "./bgs";
@import "./clips";
@import "./info-list";
@import "./layout";
@import "./nav";
@import "./normalize";
@import "./text";
@import "./tiles";
@import "./shapes";

.cc-button {
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 15px 10px;
    color: white;
    border: solid 2px white;
}

.cc-page_break {
    margin: 64px 0;
}

.cc-intro--title {
    user-select: none;
}

.cc-banner {
    position: absolute; 
    background-color: var(--heinz);
    z-index: var(--z-covid_banner);
    display: block;
    width: 100%;
    padding: 15px 0;
    color: white;

    .cc-banner--inner {
        width: 75vw;
        min-width: 720px;
        margin: auto;
    }

    .cc-banner--title {
        font-size: type-scale(3);
        margin-bottom: 5px;
        cursor: pointer;

        &:focus {
            border: none;
            outline: none;
        }
    }

    .cc-banner--title_icon {
        height: type-scale(3);
        width: type-scale(3);
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px;
    }

    .cc-banner--message {
        font-size: type-scale(3);
        font-weight: var(--fw-200);
        line-height: 1.2;
        margin-bottom: 0;
        display: none;
        visibility: collapse;
        margin-left: type-scale(3) + rem(5px);
    }
    
    &.cc-banner-is_open .cc-banner--message {
        display: block;
        visibility: visible;
    }
}

.cc-section {
    p {
        font-size: type-scale(4);
        font-weight: var(--fw-200);
    }
}