@import "./normalize";
@import "./util/scale";
@import "./util/sample";
@import "./util/convert";
@import "./util/remove";

:root {
    --bazooka: #F4C4C6;
    --mintfoam: #81CA9C;
    --majorelle: #007AC0;
    --coral: #F37444;
    --heinz: #F15F68;
    --sol_lewit: #A4DDEB;
    --sol_lewet: #8CC7ED;
    --neon: #FFF200;
    --slate: #737e94;
    --raincloud: #858fa2;

    --fs-header-20: #{type-scale(10)};
    --fs-body-20: #{type-scale(6)};
    --fs-body-10: #{type-scale(4)};

    --fw-200: 200;
    --fw-500: 500;
    --fw-600: 600;

    --z-content: 10;
    --z-above_content: calc(var(--z-content) + 1);
    --z-tiles: calc(var(--z-above_content) + 1);
}

body {
    font-size: $base_font_size;
    color: var(--slate);
}

body {
    font-family: 'Arquitecta', sans-serif;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    
    * {
        font-family: 'Arquitecta', sans-serif;
        position: relative;
        box-sizing: border-box;
    }
}

@import "./bgs";
@import "./clips";
@import "./info-list";
@import "./layout";
@import "./nav";
@import "./normalize";
@import "./text";
@import "./tiles";
@import "./shapes";

.cc-button {
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 15px 10px;
    color: white;
    border: solid 2px white;
}

.cc-page_break {
    margin: 64px 0;
}

.cc-intro--title {
    user-select: none;
}
